<div class="row">
	<div class="col-xs-12">
		<form (ngSubmit)="onSubmit()">
			<div class="form-group">
				<input type="text" class="form-control" [(ngModel)]="text" placeholder="Enter message" name="message"/>
			</div>
		</form>
	</div>
	<div class="col-xs-12">
		<div class="list-group">
			<div class="list-group-item" *ngFor="let message of messages">
				<h4 class="list-group-item-heading text-muted" *ngIf="message.user">{{message.user}}</h4>
				<p class="list-group-item-text">
					{{message.message}}
				</p>
			</div>
		</div>
	</div>
</div>
