<div class="row">
	<div class="col-xs-12">
		<form (ngSubmit)="sendMessage()" #messageForm="ngForm">
			<div class="form-group">
				<input type="text" class="form-control" required="required" placeholder="Enter message" [(ngModel)]="text" name="text"/>
				<button class="sr-only" [disabled]="!messageForm.form.valid">
					Send
				</button>
			</div>
		</form>
	</div>
	<div class="col-xs-12">
		<div class="list-group" angular2-auto-scroll>
			<div class="list-group-item" *ngFor="let message of messages">
				<h4 class="list-group-item-heading text-muted" *ngIf="message.user">{{message.user}}</h4>
				<p class="list-group-item-text">{{message.message}}</p>
			</div>
		</div>
	</div>
</div>

