<div class="row">
	<div class="col-xs-12">
		<board [board]="gameState?.board" (click)="onClick($event)" (mousemove)="onMouseMove($event)"></board>
	</div>
	<div class="col-xs-12">
		<div class="card">
			<div class="card-block">
				<div *ngIf="gameState?.isGameOver">Game Over</div>
				<div *ngIf="!gameState?.isGameOver && gameState?.turn === 0">Black's Turn</div>
				<div *ngIf="!gameState?.isGameOver && gameState?.turn === 1">White's Turn</div>
				<div>
					Black: {{scores[0]}}
				</div>
				<div>
					White: {{scores[1]}}
				</div>
			</div>
		</div>
	</div>
</div>
