<div class="row">
	<div class="col-xs-12">
		<div class="list-group">
			<div class="list-group-item" *ngIf="rooms.length === 0">
				<p>There are no rooms.  Would you like to <a href="javascript:" (click)="createRoomModal.show()">create one</a>?
			</div>
			<div class="list-group-item clearfix" *ngFor="let room of rooms">
				<h4>{{room.name}}</h4>
				<button class="btn float-xs-right" (click)="joinRoom(room)">
					Join
				</button>
			</div>
		</div>
	</div>
	<div class="col-xs-12 clearfix mt-1">
		<button class="btn float-xs-right" (click)="createRoomModal.show()">
			Create Room
		</button>
	</div>
</div>
<div bsModal #createRoomModal="bs-modal" (onHidden)="roomName.value = '';" (onShown)="roomName.focus();" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="createRoomModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">
					Create Game
				</h4>
			</div>
			<div class="modal-body">
				<form (ngSubmit)="createRoom(roomName.value)" class="clearfix">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Game Room" #roomName/>
					</div>
					<button class="btn float-xs-right">
						Create
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
