<nav class="navbar navbar-light navbar-toggleable bg-faded pb-0 mb-1">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<h1 class="navbar-brand mb-0">r³</h1>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link" href="javascript:"
					(click)="setRoom(null)"
					[class.active]="!currentRoom"
				>Lobby</a>
			</li>
			<li class="nav-item" *ngFor="let room of rooms">
				<a class="nav-link" href="javascript:"
					(click)="setRoom(room)"
					[class.active]="currentRoom?.roomId===room.roomId"
				>
					<span class="text-truncate">
						{{room.name}}
					</span>
					<button class="close pull-right ml-1" (click)="leaveRoom(room)">×</button>
				</a>
			</li>
		</ul>
	</div>
</nav>
<div class="container-fluid">
	<lobby *ngIf="!currentRoom"></lobby>
	<room *ngIf="currentRoom"></room>
</div>
