<nav class="navbar navbar-light">
	<h1 class="navbar-brand">r³</h1>
	<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="nav-collapsable" aria-controls="nav-collapsable" aria-expanded="false" aria-label="Toggle navigation">&#9776;</button>
	<div class="collapse navbar-toggleable-xs" id="nav-collapsable">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link active" href="#">Game 1</a>
			</li>
		</ul>
	</div>
</nav>
<div class="container-fluid">
	<div class="row">
		<game class="col-sm-6 col-xs-12"></game>
		<chat class="col-sm-6 col-xs-12"></chat>
	</div>
</div>
