<div modal #chooseModal="modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" *ngIf="title">
					{{title}}
				</h5>
				<button type="button" class="close" (click)="dismiss()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body clearfix">
				<div class="row">
					<div class="col-12" *ngIf="prompt">
						{{prompt}}
					</div>
					<div class="col-12 clearfix">
						<div class="btn-group float-right" role="group">
							<button class="btn"
								role="button"
								[class.btn-primary]="button === defaultButton"
								(click)="choose(button)"
								*ngFor="let button of buttons"
							>
								{{button}}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
