<div class="row">
	<div class="col-12">
		<form (ngSubmit)="sendMessage()" #messageForm="ngForm" autocomplete="off">
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" required="required" placeholder="Enter message" [(ngModel)]="text" name="text" autocomplete="off"
						#textbox
						(blur)="textbox.value || messageForm.resetForm()"
						[stringValidationRules]="isCommand ? commandRules : chatMessageRules"
						commandValidation
					/>
					<div class="input-group-append">
						<button [disabled]="!messageForm.form.valid">
							<fa-icon [icon]="[ 'far', 'comment' ]" transform="up-1" *ngIf="!isCommand"></fa-icon>
							<fa-icon icon="terminal" transform="up-1" *ngIf="isCommand"></fa-icon>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="col-12">
		<div class="list-group" ngx-auto-scroll>
			<div class="list-group-item" *ngFor="let message of messages">
				<h4 class="list-group-item-heading text-muted" *ngIf="message.user">{{message.user}}</h4>
				<div class="list-group-item-text" [innerHtml]="message.message | markdown"></div>
			</div>
		</div>
	</div>
</div>
