<div class="row">
	<div class="col-12">
		<form (ngSubmit)="sendMessage()" #messageForm="ngForm" autocomplete="off">
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" required="required" placeholder="Enter message" [(ngModel)]="text" name="text" autocomplete="off"/>
					<div class="input-group-append">
						<button [disabled]="!messageForm.form.valid">
							<fa-icon [icon]="[ 'far', 'comment' ]"></fa-icon>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="col-12">
		<div class="list-group" ngx-auto-scroll>
			<div class="list-group-item" *ngFor="let message of messages">
				<h4 class="list-group-item-heading text-muted" *ngIf="message.user">{{message.user}}</h4>
				<p class="list-group-item-text mb-0">{{message.message}}</p>
			</div>
		</div>
	</div>
</div>
