<div class="row">
	<div class="col-12 mb-1">
		<div class="list-group">
			<div class="list-group-item" *ngIf="rooms.length === 0">
				There are no rooms. Would you like to <a href="javascript:" (click)="createRoomModal.show()">create one</a>?
			</div>
			<div class="list-group-item d-flex" *ngFor="let room of rooms">
				<h4>{{room.name}}</h4>
				<button class="btn ml-auto" (click)="joinRoom(room)" *ngIf="!joinedRoomIds.includes( room.id )">
					<fa-icon class="mr-1" icon="lock" transform="up-1" *ngIf="room.hasPassword"></fa-icon>
					Join
				</button>
				<button class="btn ml-auto" (click)="showRoom(room)" *ngIf="joinedRoomIds.includes( room.id )">
					Show
				</button>
			</div>
		</div>
	</div>
	<div class="col-12 clearfix mt-1">
		<button class="btn float-right mr-2" (click)="createRoomModal.show()">
			Create Room
		</button>
	</div>
</div>
<modal-create-room #createRoomModal></modal-create-room>
<modal-join-room #joinRoomModal></modal-join-room>
