<div bsModal #createRoomModal="bs-modal" (onHidden)="roomName = ''; password = '';" (onShown)="roomNameText.focus();" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">
					Create Game
				</h4>
				<button type="button" class="close" (click)="createRoomModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form (ngSubmit)="createRoom()" class="clearfix" #createRoomForm="ngForm">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Room Name" required="required" [(ngModel)]="roomName" #roomNameText name="room-name" autocomplete="off"/>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="Password (optional)" [(ngModel)]="password" name="room-password" autocomplete="off"/>
					</div>
					<button class="btn float-right" [disabled]="!createRoomForm.form.valid">
						Create
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
