<nav class="navbar navbar-light bg-light justify-content-start pb-0">
	<h1 class="navbar-brand py-0">r³</h1>
	<ul class="nav nav-tabs border-bottom">
		<li class="nav-item">
			<a class="nav-link" href="javascript:"
				(click)="setRoom(null)"
				[class.active]="!currentRoomId"
			>Lobby</a>
		</li>
		<li class="nav-item" *ngFor="let room of rooms">
			<a class="nav-link" href="javascript:"
				(click)="setRoom(room.id)"
				[class.active]="currentRoomId===room.id"
			>
				<span class="text-truncate">
					{{room.name}}
				</span>
				<button class="close ml-2" (click)="leaveRoom(room.id)">
					<fa-icon icon="times" size="xs" transform="up-2"></fa-icon>
				</button>
			</a>
		</li>
	</ul>
</nav>
