<nav class="navbar navbar-light bg-light justify-content-start pb-0">
	<h1 class="navbar-brand py-0">r³</h1>
	<ul class="nav nav-tabs border-bottom">
		<li class="nav-item">
			<a class="nav-link" href="javascript:"
				(click)="setRoom(null)"
				[class.active]="!currentRoom"
			>Lobby</a>
		</li>
		<li class="nav-item" *ngFor="let room of rooms">
			<a class="nav-link" href="javascript:"
				(click)="setRoom(room)"
				[class.active]="currentRoom?.roomId===room.roomId"
			>
				<span class="text-truncate">
					{{room.name}}
				</span>
				<button class="close pull-right ml-1" (click)="leaveRoom(room)">×</button>
			</a>
		</li>
	</ul>
</nav>
