<div class="row" *ngIf="game">
	<div class="col-xs-8 col-12">
		<table class="table table-sm table-bordered text-right my-2">
			<thead>
				<tr>
					<th scope="col"><span class="sr-only">Action</span></th>
					<th scope="col">Color</th>
					<th scope="col">Score</th>
					<th scope="col">Player</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let row of scores" [class.table-primary]="row.hasTurn">
					<td>
						<button class="btn btn-sm" (click)="stand(row.seat)" *ngIf="row.me">
							Stand
						</button>
						<button class="btn btn-sm" (click)="sit(row.seat)" *ngIf="!row.player">
							Sit
						</button>
					</td>
					<td>
						{{row.color}}
					</td>
					<td>
						{{row.score}}
					</td>
					<td>
						{{row.player}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
